name: ci

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-18.04
    steps:
      - name: Git Checkout
        uses: actions/checkout@v2
        with:
          submodules: true
          fetch-depth: 0
      - name: Fetching Google Analytics ID
        uses: microsoft/variable-substitution@v1
        with:
          files: 'config.yaml'
        env:
            googleAnalytics: ${{ secrets.GOOGLE_ID }}

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: "0.74.2"

      - name: Build
        run: hugo --minify

      - name: Azure Login Initialization
        uses: azure/login@v1
        with:
            credentials: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Upload to Azure blob storage
        uses: azure/CLI@v1
        with: 
          azcliversion: 2.18.0
          inlineScript: |
              az storage blob upload-batch --account-name sandyportfolio -d '$web' -s ./public

      - name: Azure CLI Logout
        run: |
            az logout

      
